<section class="w-full bg-[#22262B] relative overflow-hidden">
  <div class="max-w-1440 mx-auto">
    <div class="flex text-center justify-center items-center py-[48px] md:py-[64px] lg:py-[80px] px-lr">
      <!-- Centered Content -->
      <div class=" max-w-[600px] w-full">
        <div class="mb-[32px]">
          <h2 class="font-dm text-[28px] md:text-[36px] lg:text-[42px] tracking-[-2%] leading-[112%] font-bold text-colorSurfaceLightWhite mb-[16px]">
            {{.authorPageNewsletterTitle}}
          </h2>
          <p class="text-[#F9F8F6] text-[14px] md:text-[16px] lg:text-[18px] max-w-[500px] mx-auto">
            {{.subtext}}
          </p>
        </div>
        
        <div id="hbspt-form" class="">
          <!-- <script>
          hbspt.forms.create({
            region: "na1",
            portalId: "19808521",
            formId: "ffb7d82d-521b-454f-b748-6382f4b4a461"
          });
          </script> -->
          {{partial "newsletter-blog.html" (dict "alignment" "center")}}
        </div>
        <p class="pt-2 text-center mx-auto text-[12px] md:text-[14px] text-[#B8BDC3] max-w-[500px]">
          {{.bottomKicker}}
          <a href="{{.privacyUrl}}" class="text-teal-500 hover:text-teal-400 transition-colors duration-300 underline">
            {{ i18n "privacy_policy" }}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>