{{$links := (index site.Data site.Language.Lang).links}}

<style>

/* PRICING PAGE */

.pricing-bg {
  min-height: 500px;
  background: 
    url('/images/products/amazon-ppc/top-left-bg.png') left top / 15% no-repeat, 
    url('/images/products/amazon-ppc/bottom-left-bg.png') left bottom / auto 15% no-repeat,
    url('/images/products/amazon-ppc/top-right-bg.png') right top / auto 10% no-repeat, 
    linear-gradient(to right, #FDEAF0 0%, #FFF 70%, #FFF 100%);
}

@media (max-width: 768px) {
  .pricing-bg {
    background: 
      url('/images/products/amazon-ppc/top-left-bg.png') left top / 40% no-repeat, 
      url('/images/products/amazon-ppc/top-right-bg.png') right top / auto 0% no-repeat, 
      url('/images/products/amazon-ppc/bottom-right-bg.png') right bottom / auto 10% no-repeat,
      linear-gradient(to right, #FDEAF0 0%, #FFF 70%, #FFF 100%);
  }
}


.enterprise-bg {
  min-height: 500px;
  background: 
    url('/images/products/amazon-ppc/top-left-bg.png') left top / 15% no-repeat, 
    url('/images/products/amazon-ppc/bottom-left-bg.png') left bottom / auto 15% no-repeat,
    url('/images/products/amazon-ppc/top-right-bg.png') right top / auto 10% no-repeat, 
    linear-gradient(to right, #FDEAF0 0%, #FFF 70%, #FFF 100%);
}

@media (max-width: 768px) {
  .enterprise-bg {
    background: 
      url('/images/products/amazon-ppc/top-right-bg.png') right top / auto 10% no-repeat, 
      url('/images/products/amazon-ppc/bottom-right-bg.png') right bottom / auto 10% no-repeat,
      linear-gradient(to right, #FDEAF0 0%, #FFF 70%, #FFF 100%);
  }
}

input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  cursor: grab;
  background: transparent;
  height: 4px;
}
input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 4px;
  background-color: #F8BECF;
  border: none;
  border-radius: 2px;
  border-width: 8px 0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  background-color: #F8BECF;
  border: none;
  border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #F8BECF;
  background: #E72C64;
  margin-top: -9px;
}
input[type=range]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #069BA2;
  background: #E72C64;
  border: none;
}
input[type=range]::-ms-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #069BA2;
  background: #E72C64;
  margin-top: -9px;
}
input[type=range]:focus{
  outline:  none;
}
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track{
  width: 100%;
  min-width: 256px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper{
  background: #069BA2;
  border-radius: 2px;
}
@media (min-width: 1024px) {
  input[type=range]::-webkit-slider-thumb{
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background: #E72C64;
  }
  input[type=range]::-moz-range-thumb{
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background: #E72C64;
  }
  input[type=range]::-ms-thumb{
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background: #E72C64;
  }
  #slider-ticks{
    margin-top: -18px;
  }
  .dash-box::before {
    bottom: 0;
    content: "";
    position: absolute;
    border-top: 2px dashed #069BA2;
    border-bottom: 24px solid #069BA2;
    width: 100%;
    height: 100%;
    padding: 60px 47px;
    top: 0;
    top: auto;
    bottom: auto;
    transform: translate(-45%, -35%);
  }

  .dash-box-start.dash-box::before{
    border-left: 2px dashed #069BA2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .dash-box-end.dash-box::before{
    border-right: 2px dashed #069BA2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .sale-offer-text::after {
    content: '{{ i18n "on_sale" }}';
    position: absolute;
    bottom: 0;
    color: white;
    transform: translate(-25%, 100%);
    margin-bottom: -58px;
    white-space: nowrap;
    font-size: 12px;
    left: auto;
    right: auto;
  }
}
#more-capabilities {
  transition: max-height 0.50s ease-out;
}
</style>

<div class="c-amazon-pricing mx-[16px]" x-data="priceCalcData()" id="pricing" x-init="$refs.slider.value = currRangeVal">
  <div class="max-w-1440 mx-auto" >
      <!--ANNUAL OR MONTHLY PRICING-->
      <section class="bg-white py-[96px] ">
          <div>
              <div class="">
                  <template x-if="selectedCurrency === 'USD'">
              <h1 class="font-bold text-center font-dm tracking-desktopLetterSpacingMedium leading-mobileLineHeight5xl 
                md:leading-desktopLineHeight4xl text-mobileHeadlinesH3 md:text-desktopHeadlinesH3 w-10/12 mx-auto md:w-7/12">{{.heroTitle}}</h1>
                  </template>
                  <template x-if="selectedCurrency === 'EUR'">
                      <h1 class="font-semibold text-4xl leading-tight  w-10/12 mx-auto md:w-7/12 lg:text-5xl">{{.heroTitleEur | safeHTML}}</h1>
                  </template>
              </div>
            <p class="text-center text-desktopSubHeadingsP4 md:text-desktopSubHeadingsP3 text-colorSurfaceDarkNormalActive 
              leading-desktopLineHeightMedium md:leading-desktopLineHeightLarge w-full md:mx-auto mt-[16px] mb-[40px] md:w-[60%]">
              {{.subTitle}}
            </p>
          <div class="flex items-start relative md:justify-center md:w-auto gap-[24px] md:gap-[40px] mb-[40px]">
            {{range $index, $el := .pricingPeriod}}
            <div class="flex items-start mb-6 lg:mb-0 " @click="selectedPeriod = '{{.value}}'">
              <input class="flex-shrink-0 w-5 h-5" type="radio" name="hero-period-selection" value="{{.value}}" id="{{.title}}" x-bind:checked="selectedPeriod === '{{.value}}'" >
              <div class="flex flex-col items-start ml-1 relative w-auto md:w-full">
              <label class="text-colorSurfaceDarkNormalActive text-desktopSubHeadingsP4 md:text-desktopSubHeadingsP3 font-medium cursor-pointer whitespace-normal text-left
                {{if eq $index 0}} w-min md:w-full {{end}}
                " for="{{.title}}">
                {{.title | safeHTML}}
              </label>

                {{ if (eq .value "annual") }}
              <div :class="currRangeVal > 6 && currRangeVal < 10 ? 'block' : 'hidden'" style="padding: 2px 4px;" class="absolute md:bottom-0 transform mt-5 md:mt-0 md:translate-y-8 w-16 md:w-auto md:whitespace-nowrap text-left 
                text-teal bg-textonteal rounded uppercase tracking-wide text-mobileBodyB7 font-medium lg:text-desktopSubHeadingsP7">{{$.monthsFreeWithOffer}}</div>

              <div :class="currRangeVal < 7 || currRangeVal > 9 ? 'block' : 'hidden'" 
                class="absolute bottom-[-49px] md:bottom-[6px] transform mt-2 md:mt-0 md:translate-y-8 w-[88px]  md:w-auto 
                md:whitespace-nowrap text-left text-colorSecondaryRedDarkHover bg-colorSecondaryRedLight rounded-[8px] capitalize  
                py-[3px] px-[13px] md:rounded-[50px] text-mobileBodyB7 lg:text-desktopSubHeadingsP7">{{$.monthsFree}}</div>

                {{else if .savings}}
                <small class="text-desktopSubHeadingsP5 font-medium text-colorSecondaryRedDarkHover">{{.savings}}</small>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
          </div>
        <!--PRICING SLIDER -->
          <div id="new-price-calculator" class="pricing-bg rounded-[12px] flex flex-col items-center justify-start 
                  border border-[#FBDFE8] py-[24px] px-[16px] lg:py-[48px] lg:px-[24px] xl:mx-[48px]  2xl:mx-[162px]">
              <h3 class="text-center text-mobileHeadlinesH4 md:text-desktopHeadlinesH4 font-bold font-dm leading-mobileLineHeight2xl 
                md:leading-desktopLineHeight2xl tracking-desktopLetterSpacingMedium md:w-2/3 mb-[32px] lg:mb-[40px]">
                {{ i18n "whats_your_monthly_ad_spend" }}
              </h3>

            <h1 style="" class="text-center leading-tight text-mobileHeadlinesH3 font-bold flex lg:hidden mb-[8px]">
                <span x-text="currRangeVal > 0 && currRangeVal <= 5 ? currencySymbol : ''"></span>
                <span x-text="data.adSpend"></span>
            </h1>

              <!-- slider -->
              <div id="price-slider" class="w-[256px] lg:w-[460px]  mx-auto relative ">
              <!-- <input style="z-index: 5;" type="range" name="adspend" id="ad-spend" min="1" max="{{len .accountsAdSpendArray}}" step="1" class="w-full lg:px-2 relative" autocomplete="off" @change="data = getAdSpendAndAccounts($event.target.valueAsNumber); console.log(data); currRangeVal = $event.target.valueAsNumber" x-ref="slider"> -->
              <input style="z-index: 5;" type="range" name="adspend" id="ad-spend" min="1" max="{{len .accountsAdSpendArray}}" step="1" class="w-full lg:px-2 relative" autocomplete="off" @input="data = getAdSpendAndAccounts($event.target.valueAsNumber); currRangeVal = $event.target.valueAsNumber" x-ref="slider">
                  <ul id="slider-ticks" class="-mt-[14px] mb-4 flex relative items-center justify-between w-full lg:px-2 lg:-mt-4 ">
                      {{range $index, $el := .accountsAdSpendArray}}
                          {{$currIndex := add $index 1}}
                              <li class="w-[12px] h-[12px] bg-[#F8BECF] rounded-full relative lg:w-4 lg:h-4 cursor-pointer" id="{{.}}" 
                                @click="currRangeVal = {{$currIndex}}; data = getAdSpendAndAccounts({{$currIndex}}); 
                                  $refs.slider.valueAsNumber = {{$currIndex}}">
                                {{with .subText}}
                                <div :class="currRangeVal === {{$currIndex}} ? 'text-[#E72C64]' : 'text-[#F8BECF]'" 
                                  class="font-normal text-sm leading-none -mt-6 absolute hidden lg:block">
                                    {{.}}
                                </div>
                                {{end}}
                          <div style="width: max-content; transform: translateX(-30%);" 
                            class="hidden font-medium text-[13px] transform bottom-0 pt-[35px] lg:flex justify-center
                            items-center cursor-pointer lg:flex-col text-[#484F59]"
                          :class="currRangeVal === {{$currIndex}} ? 'font-semibold' : 'font-normal'" 
                          > 
                            <div>
                              {{with not .noSymbol}}<span x-text="currencySymbol"></span>{{end}}{{.adSpend}}
                            </div>
                          </div>
                        </li>
                      {{end}}
                  </ul>
              </div>
            <template x-if="currRangeVal > 0 && currRangeVal !== {{len .accountsAdSpendArray}}">
                <div class="mt-[32px] flex flex-col items-start md:flex-row md:items-center md:justify-between lg:mt-[76px] lg:flex-row 
            lg:items-center lg:justify-between  gap-[24px] md:gap-[60px] lg:gap-[48px] w-full xl:w-[86%] ">
                    <!--LEFT CONTENT (PRICE PER PERIOD) -->
                    <div>
                        <p class="font-semibold text-mobileSubHeadingsP1 lg:text-desktopSubHeadingsP1 leading-[140%] text-colorSurfaceDarkNormalActive" 
                            :class="selectedPeriod !== 'monthly' ? 'line-through font-semibold text-2xl leading-8 ' : ''" 
                            x-text='selectedPeriod === "monthly" ? {{ i18n "only_at" | jsonify }} : currencySymbol + data.spendMonthly'
                        ></p>
                        <div class="mt-[4px] flex items-baseline justify-start">
                            <h4 class="text-desktopHeadlinesH3 lg:text-desktopHeadlinesH2 font-bold leading-[112%] tracking-[-2%] flex">
                                <span x-text="currencySymbol"></span>
                                <template x-if="selectedPeriod === 'monthly'">
                                    <span x-text="data.spendMonthly"></span>
                                </template>
                                <template x-if="selectedPeriod === 'biannual'">
                                    <span x-text="data.spendBinnual"></span>
                                </template>
                                <template x-if="selectedPeriod === 'annual'">
                                    <span x-text="data.spendAnnual"></span>
                                </template>
                            </h4>
                            <p class="text-mobileSubHeadingsP1 md:text-desktopSubHeadingsP1 text-colorSurfaceDarkNormalActive 
                              font-semibold leading-[140%] lg:capitalize">{{ i18n "per_month_short" }}</p>
                        </div>
                        <div class="flex mt-[16px] gap-[12px] md:flex-col lg:flex-row">
                            <div class="">
                          <a href="{{$links.start_free_trial_amazon}}" class="flex justify-center items-center rounded-lg font-semibold 
                                text-desktopSubHeadingsP5 lg:text-desktopSubHeadingsP4
                                bg-colorSecondaryYellowNormal hover:bg-colorSecondaryYellowNormalHover hover:text-white  
                                 w-[145px] h-[46px] lg:w-[159px] lg:h-[48px]  whitespace-nowrap capitalize">{{$.startFreeTrial | safeHTML}}
                                  </a>
                            </div>
                            <div class="flex items-center">
                                <a href="{{$links.contact_us}}?query={{urlize "Optmyzr Demo"}}#contact-form"
                                  class="text-desktopSubHeadingsP5 lg:text-desktopSubHeadingsP4 text-colorSecondaryYellowDarker tracking-[-2%] font-semibold">{{$.requestDemo | safeHTML}}</a>
                            </div>
                        </div>
                    </div>
                    <!--RIGHT CONTENT (Features)-->
                    {{range $index, $el := .accountsAdSpendArray}}
                          <ul x-show="currRangeVal === {{add $index 1}}" class="flex flex-col items-start justify-start space-y-[12px] lg:space-y-[8px] w-full lg:w-[58%]">
                              {{range $el.features}}
                              <li class="flex items-start space-x-2">
                                  <img src="/images/icons/check-circle-red.svg" width="16" height="16" class="mt-[4px]" alt="">
                                  <p class="text-mobileBodyB3` lg:text-desktopSubHeadingsP3 text-textonteallight1 font-normal leading-tight">{{. | safeHTML}}</p>
                              </li>
                              {{end}}
                          </ul>
                    {{end}}
                    
                </div>
          
            </template>
          <!--enterprise desktop-mobile-->
          <template x-if="currRangeVal === {{len .accountsAdSpendArray}}">
            <div class=" flex flex-col items-start md:flex-row 
              md:items-center md:justify-between lg:mt-[76px] lg:flex-row lg:items-center lg:justify-between gap-[48px] w-full  xl:w-[86%]">
              <div class="mt-[32px] md:mt-[18px] w-full flex flex-col md:flex-row items-start justify-start lg:hidden md:gap-[56px]">
                <div class="self-auto md:self-center">
                  <p class="text-[#484F59] text-[16px] leading-[140%] font-medium mt-1 mb-[16px]">{{.enterprise.subTitle | safeHTML }}</p>
                  <a href="{{.enterprise.buttonLink}}?query={{urlize "Question About Pricing"}}#contact-form" 
                    class="flex justify-center items-center rounded-lg font-semibold text-[14px] lg:text-[16px] bg-[#F29C07]  
                    w-[145px] h-[46px] lg:w-[159px] lg:h-[48px]  whitespace-nowrap capitalize">{{.enterprise.buttonText}}</a>
                </div>
                <ul class="space-y-[12px] mt-[24px]">
                  {{range .enterprise.allowedFeatures}}
                  <li class="flex items-start space-x-2  ">
                    <img src="/images/icons/check-circle-red.svg" width="16" height="16" class="mt-[4px]" alt="">
                    <p class="text-mobileBodyB3 lg:text-[18px] leading-[140%]  font-normal">{{. | safeHTML}}</p>
                  </li>
                  {{end}}
                </ul>
              </div>
              <!--enterprise desktop-->
              <div class="hidden w-full lg:grid lg:grid-cols-3 lg:gap-x-20 ">
                <div class="lg:col-span-1 lg:pt-6">
                  <h1 class="font-bold font-dm leading-[112%] tracking-[-2%] text-[36px] text-[47px] ">{{.enterprise.title | safeHTML}}</h1>
                  <p class="font-normal md:font-semibold text-[16px] md:text-[18px] leading-[140%] text-[#484F59] lg:mt-3">{{.enterprise.subTitle}}</p>
                  <div class="mt-[16px]">
                    <a href="{{.enterprise.buttonLink}}?query={{urlize "Question About Pricing"}}#contact-form"
                      class="inline-flex rounded-lg font-semibold text-[14px] text-[16px] 
                    bg-colorSecondaryYellowNormal hover:bg-colorSecondaryYellowNormalHover 
                      py-[14px] lg:px-[24px] whitespace-nowrap capitalize ">{{.enterprise.buttonText}}</a>
                  </div>
                </div>
                <ul class="lg:col-span-2 lg:grid lg:grid-rows-6 grid-flow-col lg:gap-[8px] pl-[55px]">
                  {{range .enterprise.allowedFeatures}}
                  <li class="flex items-start space-x-2  ">
                    <img src="/images/icons/check-circle-red.svg" width="16" height="16" class="mt-[4px]" alt="">
                    <p class="lg:text-desktopSubHeadingsP3 leading-[140%]  font-normal">{{. | safeHTML}}</p>
                  </li>
                  {{end}}
                </ul>
              </div>
            </div>
          </template>
        <div class="w-full">
            <hr class="my-[32px] border-t-[1px] border-[#FBDFE8]">

              <ul class="flex flex-col lg:flex-row text-[14px] lg:text-[16px] text-[#484F59] leading-[140%] justify-center gap-[16px]">
                <li class="font-medium">{{ i18n "terms_and_conditions" }}</li>
                <li>{{ i18n "all_prices_for_amazon_advertising_accounts_only" }}</li>
                <li class="hidden lg:block" aria-hidden="true">.</li>
                <li>{{ i18n "full_suite_pricing_available_for_multi_platform_advertisers" | safeHTML }}</li>
              </ul>
            </div>
          </div>
        <div class="flex flex-col mt-[8px] items-end  xl:mx-[48px]  2xl:mx-[162px]" >
          <p class="text-[13px] leading-[140%] text-[#484F59]">{{ i18n "all_prices_are_in" }}
            <span class="" x-text="` ${selectedCurrency}`"></span>
          </p>
        </div>
        <!--enterprise mobile below section-->
        <div x-show="currRangeVal !== 7" id="enterprise-card" 
          class="enterprise-bg border border-[#FBDFE8] rounded-[12px] shadow-xxs mt-[40px] py-[24px] px-[16px] flex flex-col items-start justify-between md:hidden">
          <h5 class="text-[36px] font-dm font-bold leading-[112%] tracking-[-2%] ">{{.enterprise.title | safeHTML}}</h5>
          <p class="text-[#484F59] text-[16px] leading-[140%] font-medium mt-1 mb-[16px]">{{.enterprise.subTitle | safeHTML }}</p>
          <a href="{{.enterprise.buttonLink}}?query={{urlize "Question About Pricing"}}#contact-form" 
            class="flex justify-center items-center rounded-lg font-semibold text-[14px] lg:text-[16px] bg-[#F29C07]  
            w-[145px] h-[46px] lg:w-[159px] lg:h-[48px]  whitespace-nowrap capitalize">{{.enterprise.buttonText}}</a>
          <ul class="space-y-[12px] mt-[24px]">
            {{range .enterprise.allowedFeatures}}
            <li class="flex items-start space-x-2  ">
              <img src="/images/icons/check-circle-red.svg" width="16" height="16" class="mt-[4px]" alt="">
              <p class="text-[16px] lg:text-[18px] leading-[140%]  font-normal">{{. | safeHTML}}</p>
            </li>
            {{end}}
          </ul>
          <div class="w-full ">
            <hr class="my-[32px] border-t-[1px] border-[#FBDFE8]">
            <ul class="flex flex-col lg:flex-row text-[14px] lg:text-[16px] text-[#484F59] leading-[140%] justify-center gap-[16px]">
              <li class="font-medium">{{ i18n "terms_and_conditions" }}</li>
              <li></li>{{ i18n "all_prices_for_amazon_advertising_accounts_only" }}</li>
              <li class="hidden lg:block" aria-hidden="true">.</li>
              <li>{{ i18n "full_suite_pricing_available_for_multi_platform_advertisers" | safeHTML }}</li>
            </ul>
          </div>
        </div>
      </section>
  </div>
</div>

<script>
    function priceCalcData() {
        const getAdSpendAndAccounts = (val) => {
        // val = val + 1
        const enterpriseCard = document.getElementById('enterprise-card');
          if (window.innerWidth < 640) { 
              if (val === 7) {
                enterpriseCard.classList.add('hidden');
                enterpriseCard.classList.remove('flex');
              } else {
                enterpriseCard.classList.remove('hidden');
                enterpriseCard.classList.add('flex');
              }            
          }
            switch(val){
                {{range $index, $el := .accountsAdSpendArray}}
                    case {{add $index 1}}:{
                        return {
                            adSpendValue: {{int $el.adSpendValue}},
                            spendMonthly: {{int $el.spendMonthly}}, 
                            spendBinnual: {{int $el.spendBinnual}},
                            spendAnnual: {{int $el.spendAnnual}}, 
                            numberOfAccounts: {{$el.accounts}},
                            adSpend: {{$el.adSpend}},
                        }}
                {{end}}
                
                case -1:{
                    return {
                        spendMonthly: null,
                        spendBinnual: null,
                        spendAnnual: null,
                        numberOfAccounts: 50,
                        adSpend: {{ i18n "custom" | jsonify }}
                    }
                }
                case 6:{
            
                    return {
                        spendMonthly: null,
                        spendBinnual: null,
                        spendAnnual: null,
                        numberOfAccounts: 50,
                        adSpend: {{ i18n "enterprise" | jsonify}}
                    }
                }
                default: return {}
            }
        }
        return {
            currRangeVal: 1,
            selectedCurrency: getCurrencyAccToLocation(),
            selectedPeriod: 'annual',
            getAdSpendAndAccounts: getAdSpendAndAccounts,
            data: getAdSpendAndAccounts(1),
            currencySymbol: ["USD", "AUD"].includes(getCurrencyAccToLocation()) ? '$' : '€'
        }
    }


    const eurLocationsArr = ["AT", "BE", "CY", "EE", "FI", "FR", "DE", "GR", "IE", "IT", "LV", "LT", "LU", "MT", "NL", "PT", "SK", "SI", "ES", "GF", "PF", "GP", "MQ", "YT", "NC", "BL", "MF", "PM", "AD", "MC", "SM", "VA", "ME", "BG", "HR", "CZ", "DK", "HU", "PL", "RO", "SE", "NO", "LI", "IS", "CH", "GB"]

    const audLocationsArr = ["AU", "NZ"]
    
    function getCurrencyAccToLocation() {
        try{
            let locationCode = window.user_location_country;
            if(eurLocationsArr.includes(locationCode)) return "EUR" 
            else if(audLocationsArr.includes(locationCode)) return "AUD"
            return "USD";
        }
        catch(e){
            console.log("cannot get location")
            return "USD";
        }
    }
</script>