<section class="c-trail-banner bg-teal-darker py-2">
  <div class="container mx-auto">
    <ul class="flex justify-center gap-2 lg:gap-10">
      <li class="flex gap-2 md:gap-3 items-center">
        <svg width="8" height="9" viewbox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="4" cy="4.27344" r="4" fill="white"/>
        </svg>
        <span class="text-white text-mobilebodyb6 md:text-desktopsubheadingsp2 leading-mobilelineheightxxs 
          md:leading-desktoplineheightxxl text-center font-fontfamilyparagraphsinter font-normal"> {{.text_1}} </span>
        </li>
      <li class="flex gap-1 md:gap-3 items-center">
        <svg width="8" height="9" viewbox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="4" cy="4.27344" r="4" fill="white"/>
        </svg>
        <span class="text-white text-mobilebodyb6 md:text-desktopsubheadingsp2 leading-mobilelineheightxxs 
          md:leading-desktoplineheightxxl  text-center font-fontfamilyparagraphsinter font-normal"> {{.text_2}} </span>
        </li>
      <li class="flex gap-2 md:gap-3 items-center">
        <svg width="8" height="9" viewbox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="4" cy="4.27344" r="4" fill="white"/>
        </svg>
        <span class="text-white text-mobilebodyb6 md:text-desktopsubheadingsp2 leading-mobilelineheightxxs 
          md:leading-desktoplineheightxxl  text-center font-fontfamilyparagraphsinter font-normal"> {{.text_3}} </span>
        </li>
    </ul>
  </div>
</section>
